.fixed__bottom__right {
    position: 'fixed'; 
    bottom: '0px'; 
    right: '0px'
}
.popup_img {
    position: absolute;
    float: right;
    margin-left: 350px;
    margin-top:30px;
}
.buttonPopup{
    height:50px;
    width:100px;
}
.frame{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.dashboard{
    display: flex;
    position: relative;
    height: 45rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./dashboard/components/img/image_dashboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}
.dashboard__card{
    position: absolute;
    top: 5rem;
    }
.dashboard__item--main{
    width: 50rem;
    text-align: center;
    margin: 3rem 5rem;
}
.dashboard__title{
    font-size: 4.5rem;
    text-align: center;
    }
.dashboard__subtitle{
    font-size: 2.5rem;
    text-align: center;
    }
.dashboard__subtitle--item{
    width: 25rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(88, 88, 88);
}
.dashboard__items{
    display: flex;
    position: relative;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}
.dashboard__charts{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.dashboard__item{
    width: 26rem;
    text-align: center;
    margin: 3rem 5rem;
}
.dashboard__item--none{
    width: 26rem;
    text-align: center;
    margin: 3rem 5rem;
}
.dashboard__items--revers{
    display: flex;
    position: relative;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}
.dashboard__title--item{
    font-size: 3rem;
    text-align: center;
    color: rgb(88, 88, 88);
}
.dashboard__item--chart1{
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -5rem;
}
.dashboard__item--chart2{
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -5rem;
}
.dashboard__chart1--title{
    width: 25rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
    color: rgb(88, 88, 88);
}
.dashboard__chart2--title{
    width: 25rem;
    font-size: 1rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-bottom: -1rem;
    position: relative;
    text-align: center;
    color: rgb(88, 88, 88);
}
img{
    height: auto;
    width: 100%;
    max-width: 600px;
   }

@media (max-width: 1400px){
    .dashboard{
    height: 28rem;
    }
    .dashboard__title{
        font-size: 2.5rem;
    }
    .dashboard__subtitle{
        font-size: 1.5rem;
    }
    .dashboard__title--item{
        font-size: 2rem;
    }
    .dashboard__subtitle--item{
        font-size: 1.2rem;
    }
    .dashboard__items{
        flex-direction: column;
        height: auto;
    }
    .dashboard__charts{
        display: none;
    }
    .dashboard__items--revers{
        flex-direction: column-reverse;
        height: auto;
    }
    .dashboard__title--item {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
}
    
@media (max-width: 400px){
    .dashboard{
        height: 15rem;
        }
    .dashboard__title{
        font-size: 1.7rem;
    }
    .dashboard__subtitle{
        font-size: 1.2rem;
    }
    .dashboard__title--item{
        font-size: 1.2rem;
    }
    .dashboard__subtitle--item{
        font-size: 1.1rem;
    }
    .dashboard__item{
        position: absolute;
        width: 100%;
        display: flex;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
    }
}