.fixed__bottom__right {
    position: 'fixed'; 
    bottom: '0px'; 
    right: '0px'
}
.popup_img {
    position: absolute;
    float: right;
    margin-left: 350px;
    margin-top:30px;
}
.buttonPopup{
    height:50px;
    width:100px;
}

