.fixed__bottom__right {
    position: 'fixed';
    bottom: '0px';
    right: '0px'
}

.popup_img {
    position: absolute;
    float: right;
    margin-left: 350px;
    margin-top: 30px;
}

.buttonPopup {
    height: 50px;
    width: 100px;
}

.frame {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dashboard {
    display: flex;
    position: relative;
    height: 85vh;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./dashboard/components/img/image_dashboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}

.dashboard__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard__item--main {
    text-align: center;
    width: 100%;
}

.dashboard__title {
    font-size: 4.5rem;
    text-align: center;
    color: white;
}

.dashboard__subtitle {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.dashboard__subtitle--display {
    font-size: 1.8rem;
    text-align: center;
    color: white;
}

.dashboard__subtitle--item {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__subtitle--right {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__items {
    display: flex;
    position: relative;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
    padding-bottom: 0.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}

.dashboard__charts {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dashboard__item {
    width: 38%;
    max-width: 30rem;
    min-width: 25rem;
}

.dashboard__item--none {
    width: 26rem;
    text-align: center;
    margin: 3rem 5rem;
}

.dashboard__items--revers {
    display: flex;
    position: relative;
    height: 26rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
    padding-bottom: 0.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 0 0 0.5rem 0;
    border-color: gray;
}

.dashboard__title--item {
    font-size: 3rem;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__item--right {
    width: 38%;
    max-width: 30rem;
    min-width: 25rem;
}

.dashboard__title--right {
    font-size: 3rem;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__item--chart1 {
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -5rem;
}

.dashboard__item--chart2 {
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -5rem;
}

.dashboard__chart1--title {
    width: 25rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__chart2--title {
    width: 25rem;
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-bottom: -1rem;
    position: relative;
    text-align: center;
    color: rgb(88, 88, 88);
}

.dashboard__img--display {
    display: none;
}

.dashboard__img {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.formdrink {
    display: "flex";
    flex-direction: "column";
}

.adddrink__button {
    position: fixed;
    bottom: 4%;
    right: 2.5%;
    width: 12rem;
    min-width: 12rem;
    text-align: center;
    height: auto;
    z-index: 1;
}

@media only screen and (max-width: 1420px) {
    .dashboard__charts {
        display: none;
    }
    .MuiTab-root {
        min-width: unset;
    }
}

@media only screen and (max-width: 768px) {
    .dashboard {
        height: auto;
        background-image: none;
    }
    .dashboard__img--display {
        display: inline;
    }
    .dashboard__title {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 0rem;
    }
    .dashboard__subtitle {
        font-size: 1.5rem;
    }
    .dashboard__card {
        position: absolute;
        top: 25%;
    }
    .dashboard__item {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        height: 60%;
        width: 15rem;
        margin-left: -8.5rem;
        top: 0;
    }
    .dashboard__item--right {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: right;
        height: 60%;
        width: 15rem;
        margin-left: 8.5rem;
        top: 0;
    }
    .dashboard__title--item {
        width: 100%;
        font-size: 2rem;
        margin-left: 0.7rem;
        color: gray;
        text-align: left;
    }
    .dashboard__title--right {
        width: 100%;
        font-size: 2rem;
        margin-right: 0.7rem;
        margin-left: -1rem;
        color: white;
        text-align: right;
    }
    .dashboard__subtitle--item {
        font-size: 1.2rem;
        margin-left: 0.7rem;
        text-align: left;
        color: gray;
    }
    .dashboard__subtitle--right {
        font-size: 1.2rem;
        margin-right: 0.7rem;
        text-align: right;
        color: white;
    }
    .dashboard__subtitle--display {
        font-size: 1.1rem;
    }
    .dashboard__items {
        flex-direction: column;
        height: auto;
    }
    .dashboard__items--revers {
        flex-direction: column-reverse;
        height: auto;
    }

    .dashboard__title--item {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .MuiTab-root {
        min-width: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard {
        height: auto;
    }
    .dashboard__img--display {
        display: inline;
    }
    .dashboard__subtitle--display {
        display: none;
    }
    .dashboard__subtitle {
        display: none;
    }
    .dashboard__title--item {
        font-size: 2.1rem;
        color: black;
    }
    .dashboard__title {
        font-size: 3rem;
        color: white;
        text-align: center;
    }
    .dashboard__title--right {
        font-size: 2.1rem;
        color: white;
        margin-right: 0rem;
    }
    .dashboard__subtitle--item {
        display: none;
    }
    .dashboard__subtitle--right {
        display: none;
    }
    .dashboard__item {
        position: absolute;
        width: 52%;
        display: flex;
        margin-right: 0.7rem;
        margin-left: -4rem;
        margin-top: 4rem;
    }
    .dashboard__item--right {
        position: absolute;
        width: 41%;
        display: flex;
        margin-left: 4.9rem;
        margin-right: 0.7rem;
        margin-top: 4rem;
    }
    .dashboard__item--main {
        position: absolute;
        display: flex;
        height: 8rem;
        width: 14rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 4rem;
    }
    .adddrink__button {
        position: fixed;
        bottom: 4%;
        margin-right: 30%;
    }
}

.googleMaps {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    height: calc(100vh - 73px);
}

.googleMaps__mapframe {
    width: 100vw;
    height: 66.5% !important;
    z-index: 3;
    position: relative;
    padding: 0px;
    top: 0;
    border-width: 0px;
    touch-action: pan-x pan-y;
}

.googleMaps__map {
    position: relative;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: visible;
}

.googleMaps__label {
    position: relative;
    width: 100%;
    height: 33.5%;
    background-color: white;
    max-height: none;
    overflow: scroll;
}

.googleMaps__searchpanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.googleMaps__button {
    text-align: center;
}

.googleMaps__item {
    width: 200px;
    height: 150px;
    border-style: solid;
    border-width: 0.01rem;
    border-color: gray;
    margin: 10px;
}

.googleMaps__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.googleMaps__shops {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .googleMaps__label {
        height: 30.5%;
    }
}